.nav-bar {
    display : flex;
    justify-content : space-between;
    align-items : center;
    /* background : #f3f3f3; */
    width : 120vw;
    padding: 25px;
    padding-top : 25px;
    padding-bottom : 10px
}

.user-account {
    width: 50px;
    height : 50px;
    z-index : 1000;
    cursor : pointer
}
.user-account img {
    width : 100%;
    height : 100%
}

.menu {
    width: 50px;
    height : 50px;
    z-index : 1000;
    cursor : pointer
}

.menu img {
    width : 100%;
    height : 100%
}