.search-page {
    background-color: white;
}

.search-page-header {
    margin-bottom: 0;
    padding: .5em;
}

.search-page-result-shadow {
    box-shadow: .0em .0em .2em rgb(24, 73, 80);
}

.search-page-logo-container {
    padding-bottom: 1em;
    margin: 0em auto;
    width: 60%;
    text-align: center;
}

.search-page-logo {
    width: 10em;
}

.search-page-header-body {
    width: 100%;
    margin: -2.5em auto .1em auto;
}

.search-page-body {
    height: 100%;
    margin-top: 0;
    border: 0em;
}

.text-container {
    font-family: sans-serif;
}

.latest-news {
    text-align: center;
    border-right: 1px solid #ccc;
    margin-bottom: 2em;
    padding: 10px;
    margin-top: 10px;
}
.latest-news h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    
}

.search-page-result {
    display: flex;
    margin-bottom: 2em;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

.search-page-resultCount {
    color: #70757a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.search-page-results h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 800;
    letter-spacing: 2px;
}

.image-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 120px;
    height: 130px;
    padding: 5px;
}

.search-page-result-image {
    width: 120px;
    height: 100px;
}

.result-site {
    text-decoration: none;
}

.result-site span {
    color: #000;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 10px;
}

.result-site span:hover {
    color: rgb(100, 100, 253);
    margin-top: 13px;
    font-weight: 800;
    font-size: 12px;
}

.search-page-result-title {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
}

.search-page-result-title:hover {
    text-decoration: underline;
}

.search-page-result-title>h2 {
    font-weight: 500;
}

.search-page-result-snippet {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.pagination-section {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.paginate-btn {
    background-color: rgb(3, 121, 129);
    color: #fff;
    border: none;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(3, 121, 129);
    font-size: 20px;
    font-weight: 500;
    transition: 0.6s;
    width: 80px;
    text-align: center;
    margin: 5px;
}

.paginate-btn:hover {
    background-color: rgb(223, 103, 6);
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

.search-page-result button {
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    border: none;
    padding: 8px;
    float: right;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.6s;
}

.search-page-result button:hover {
    background-color: #fff;
    color: #000;
    margin-top: 18px;
    border: none;
    float: right;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: 800;
    border-radius: 20px;
}

.loader-spinner {
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding-top: 50px;
}

@media (max-width: 319px) {
    .latest-news {
        display: none;
    }
    .search-page-header {

        font-size: 1em;
    }
    .search-page-logo-container {
        font-size: 1em;
        margin: 0em auto;
        width: 60%;
        text-align: center;

    }
    .search-page-logo {
        font-size: 1em;

    }
    .latest-news {
        display: none;
    }
    .search-page-results {
        margin: 2em .5em;


    }
    .search-page-results .text-container {

        font-size: .9em;
        font-weight: 100;
    }
    .search-page-result {
        display: inline-block;
        margin-bottom: 20px;
        padding: 10px;
        margin-top: 10px;
        background-color: #f6f6f6;
        font-size: 1em;
    }
    .search-page-result-title>h2 {
        font-weight: 500;
        font-size: 1em;
    }
    .search-page-header-body {

        margin: .1em auto .5em auto;
    }
    .image-container>.search-page-result-title {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .search-page-header {

        font-size: 1em;
    }
    .search-page-logo-container {
        font-size: 1em;
        margin: 0em auto;
        width: 60%;
        text-align: center;

    }
    .search-page-logo {
        font-size: 1em;

    }
    .latest-news {
        display: none;
    }
    .search-page-results {
        margin: 2em .5em;


    }
    .search-page-results .text-container {

        font-size: .9em;
        font-weight: 100;
    }
    .search-page-result {
        display: inline-block;
        margin-bottom: 20px;
        padding: 10px;
        margin-top: 10px;
        background-color: #f6f6f6;
        font-size: 1em;
    }
    .search-page-result-title>h2 {
        font-weight: 500;
        font-size: 1em;
    }
    .search-page-header-body {

        margin: .1em auto .5em auto;
    }
    .search-page-result .image-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .text-container .search-page-result-title {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .search-page-logo-container {
        font-size: 1em;
        margin: 0em auto;
        width: 60%;
        text-align: center
    }
    .search-page-logo {
        font-size: 1em;

    }
    .latest-news {
        display: none;
    }
    .search-page-results {
        margin: 2em .5em;


    }
    .image-container>.search-page-result-title {
        display: none;
    }
}

@media (min-width: 769px) and ( max-width: 992px) {
    .search-page-logo-container {
        font-size: 1em;
        margin: 0em auto;
        width: 60%;
        text-align: center
    }
    .search-page-logo {
        font-size: 1em;
    }
    .search-page-body {
        display: flex;
        height: 100%;
        margin-top: 0;
    }
    .latest-news {
        display: none;
    }
    .search-page-results {
        margin: 2em .5em;
        flex: 9;
    }
    .image-container>.search-page-result-title {
        display: none;
    }
}

@media (min-width: 993px) {
    .search-page-logo-container {
        font-size: 1em;
        margin: 0em auto;
        width: 60%;
        text-align: center
    }
    .search-page-logo {
        font-size: 1em;

    }
    .search-page-body {
        display: flex;
        height: 100%;
        margin-top: 0;
    }
    .search-page-body .latest-news {
        flex: 4;
    }
    .search-page-results {
        margin: 2em .5em;


        flex: 8;
    }
    .image-container>.search-page-result-title {
        display: none;
    }
}