.app-container {
    width: 70%;
    height: 50px;
    margin-top: 30px;
    margin-bottom : 30px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    cursor: pointer;
}
.app-container:hover {
    width: 71%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom : 10px;
    color: #fff;
    transition : 0.6s
}
.app-container a {
    text-decoration: none;
    color: #fff;
    font-size : 16px;
}
@media (min-width: 481px) and (max-width: 768px) {
    .app-container {
        width: 100px;
        height: 40px;
        margin-top: 20px;
        margin-left: 15px;
        padding-top: 8px;
    }
    .app-container a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .app-container {
        width: 85px;
        height: 40px;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 25px;
        margin-bottom : 15px;
    }
    .app-container a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }
}