.app-container {
    width: 80%;
    height: 60px;
    margin-top: 50px;
    border-radius: 15px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
    cursor: pointer;
}
.app-container:hover {
    width: 81%;
    height: 62px;
    margin-top: 49px;
    border-radius: 10px;
    padding-top: 30px;
    color: #fff;
}
.app-container a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
    .app-container {
        width: 65px;
        height: 40px;
        margin-top: 50px;
        margin-left: 15px;
        border-radius: 15px;
        text-align: center;
        padding-top: 10px;
    }
    .app-container a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }

}
