.menu-modal {
    position : fixed;
    margin-right: 0;
    left: 80%;
    width: 18%;
    height : 100vh;
    background :#000;
    padding : 40px;
    z-index : 1000;
    transition: 0.6s; 
    color: #000;
    background: #fff;
}
.menu-actions ul {
    list-style: none;
}
.menu-actions ul li {
    margin-top: 30px;
}
.menu-actions ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    letter-spacing: 1px;
    font-size: 500;
}
.menu-actions ul li a img {
    width: 20px;
    height: 20px;
}
.menu-actions ul li a:hover {
    font-size: 18px;
    color: #000;
    letter-spacing: 1px;
    font-size: 800;
    border-bottom: 1px solid #000;
    transition: 0.6s;
}