/* .nav-bar {
    position: fixed;
    display: flex;
    color: #000;
    width: 100%;
}
.nav-bar-logo {
    width: 200px;
    height: 70px;
}
.nav-bar-logo img {
    width: 100%;
    height: 100%;
}
.nav-bar-menu {
    margin-left: 700px;
}
.nav-bar-menu ul{
    display: flex;
    list-style: none;
}
.nav-bar-menu ul li {
    margin: 20px;
} */