footer {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 25px;
}
footer p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #000;
}
footer p a {
    text-decoration: none;
    color: #000;
}
footer p a:hover {
    text-decoration: none;
    color: rgb(100, 100, 253);
}
footer ul {
    list-style: none;
    display: flex;
}
footer ul li {
    margin-left: 25px;
}
footer ul li a {
    text-decoration:  none;
}