
.button-container  {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 60vw;
    height: 30px;
    margin-top: 70px;
    text-align: center;
}

.button-container .show-more-btn {
    background-color: #ccc;
    border-radius: 0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 800;
}
.button-container .add-site-btn {
    background-color: #ccc;
    border-radius: 0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 800;
}

.more-apps {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0em auto;
    width: 80%;
}

 @media (min-width: 320px) and (max-width: 480px) {
    .button-container  {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        width: 60vw;
        height: 30px;
        margin-top: 70px;
        text-align: center;
    }
    
    .button-container .show-more-btn {
        font-size: 10px;
        font-weight: 500;
        margin-right: 10px;
    }
    .button-container .add-site-btn {
        font-size: 10px;
        font-weight: 500;
    }
    .more-apps {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}
@media (min-width: 320px) and (max-width: 375px) {
    .more-apps {
        padding-left: 80px;
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    .more-apps {
        padding-left: 120px;
    }
}