.news_container {
    font-size: .8em;
}

.news_container>.result_news {
    background-color: blue;
    padding: 0em;
    margin: 0em;
    text-align: left;
}

.result_news img {
    width: 5em;
    height: auto;
    /* float: left; */
}

.result_news li {
    list-style: none;
    margin: 0em 0em 1em 0em;
    background-color: yellow;
    /* float: left; */
}

.result_news>ul {
    background-color: white;
    margin: 0em;
    padding: 0em;
}