.news-container {
    font-size: .8em;
    background-color: #fff;
    width:18vw;
    padding: 10px;
}

.news-container>.result-news {
    padding: 0em;
    margin: 0em;
    text-align: left;
}

.result-news img {
    width: 5em;
    height: auto;
}

.result-news li {
    list-style: none;
    margin: 0em 0em 1em 0em;
    background-color: yellow;
}

.result-news>ul {
    background-color: white;
    margin: 0em;
    padding: 0em;
}