.home-body {
    justify-content: center;
    align-items: center;
}
.logo-section {
    text-align: center;
    margin-bottom: 50px;
}
.logo-section h3 {
    font-size: 84px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ccc;
}
.input-section {
font-size: 1em;
}
